.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: var(--negro);
}

.cabecera img{
    align-self: start;
}

.cabecera span{
    align-self: end;
    text-transform: uppercase;
    font-weight: 600;
    color:#ffffff;
    margin-left: 8px;
    font-family: 1.5rem;
}

.cabecera nav{
    display: flex;
    justify-content: space-between;
}