@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');



div label{
    display: flex;
    text-align: start;
    font-size: 1.1rem;
    font-family: "Source Code Pro";
}

input, textarea{
    font-family: "Source Code Pro";
    background-color: #262626;
    color: #FFFFFF;
    margin: 20px 0;    
}



